/* Reset jQuery Mobile */
.ui-body-c .ui-link, .ui-body-c .ui-link, .ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button, .ui-footer{
	font-weight: normal; 
	color: inherit; 
	font: inherit;
	background: inherit;
	text-shadow: none;
	border: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.ui-body-c .ui-link{font-weight: bold; display: inline-block;}
.ui-header .ui-title{text-shadow: none; color: #999;}
/* End reset */

/*.ui-body-c{width: 640px !important;}*/
.clearfix{overflow: hidden;}
div.ui-body-c {-moz-transform: translate(3em,0);background: url('../images/bg.png') fixed; font-family: helvetica; font-size: 80%; text-shadow: 0 1px 1px rgba(255,255,255,.5);}
.header{background: white;}
#footer{
	text-align:center;
	}
nav{
	background: #ADADAD; /* old browsers */
	background: -moz-linear-gradient(top, #ADADAD 0%, #7F7F7F 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ADADAD), color-stop(100%,#7F7F7F)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADADAD', endColorstr='#7F7F7F',GradientType=0 ); /* ie */
}

.ui-body-c nav {text-align: center;margin:0; padding:0; height:42px;}
.ui-body-c nav  a.ui-link{font-weight: bold; padding: 4% 4%;color:white;}
.ui-body-c nav a.ui-link:active{color: #eee;}
h3{margin-top: 0;}
.active{display: block; margin: auto; border-top: 10px solid transparent; 
	border-bottom: 10px solid #B2BB1E; border-left: 10px solid transparent;  
	border-right: 10px solid transparent;font-size: 0px; line-height: 0%; width: 0px;
}

/*Index*/

#slider{height: 130px; width: 300px;
	 -moz-border-radius:5px;
	 -webkit-border-radius: 5px;
	  border-radius: 5px;
}

.box-shadow{
	-moz-box-shadow: inset 0 0 5px 5px rgba(255,255,255,.6);
	-webkit-box-shadow:  0 1px 1px rgba(255,255,255,.6);
	 box-shadow:  0 1px 1px rgba(255,255,255,.6);
}

.pics img {
    -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px;
}
.box{position:absolute;
	left:198px;
	top: 250px;
	z-index:99;
	background: #000000;
	padding:4px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	background: rgba(0,0,0,.6);
}
.box p{color:white;text-shadow:#000000 1px 1px 1px; text-align:right; font-family:helvetica;margin:auto;font-size:80%;padding:4px;}
.ui-body-c .box h4{color:white;text-shadow:#000000 1px 1px 2px; text-align:right; 
	font-family:helvetica;margin:auto;font-weight:550 !important;
}

/*Index 2*/

#boxes{
	margin-top:10px; display:block;height:57px;width:300px;
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius:5px;
}
#boxes a {
	color:#ffffff;font-weight:bold;font-size:16px;font-family:arial;
    text-shadow: #000000 1px 2px 1px;
}
.ui-body-c #boxes p{
	padding:0 0 0 35px; margin-top:6px;
	text-shadow: #000000 1px 2px 2px; color:#bbbd95;
	font-family: helvetica;
	font-size: 85%  !important;
	font-weight:440;
}
.ui-body-c #boxes a{
	background: rgba(0,0,0,.02);font-size: 98%;
}
.ui-body-c #boxes #call{
	background:rgba(0,0,0,.5) url('../images/Phone 32x32.png') no-repeat 5px;
}
.ui-body-c #boxes #call a{
	padding:10px 0 0 35px
}
.ui-body-c #boxes #call p{
	padding:0px 0 0 35px
}
.ui-body-c #boxes #map{
	background:rgba(0,0,0,.5) url('../images/Map 32x32.png') no-repeat 10px;
}
.ui-body-c #boxes #map a{
	padding:10px 0 0 45px
}
.ui-body-c #boxes #map p{
	padding:0px 0 0 45px
}
#call{
	float:left;
	width:115px;
	padding-left:8px;
	height:57px;
	-moz-border-radius: 5px 0px 0px 5px; 
	-webkit-border-radius: 5px 0px 0px 5px;
}	
#call p{width:160px !important;}
#map{
	float:right;width:170px;padding-left:5px;
	height:57px;-moz-border-radius: 0px 5px 5px 0px; -webkit-border-radius: 0px 5px 5px 0px;
}
.ui-body-c #boxes a.ui-link:active{
	color:#fcf2c6;
}
	
/*Header 2*/

#cont{
	list-style:none;background:#cbcbcb;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;padding:1px 3px 2px 3px;
	margin:4px;color:#6d6d6d;font-size:80%;
	position:absolute;right:15px;top:8px;
}
#dir{
   list-style:none;background:#cbcbcb;
   -moz-border-radius: 5px; -webkit-border-radius: 5px;padding:1px 3px 2px 3px;
   margin:4px;color:#6d6d6d;font-size:80%;
   position:absolute;right:15px;top:30px;
}
.ui-body-c #contact a.ui-link:active
{
	color:black;
}

/*Pages*/

.caja2{
	   background: rgba(0,0,0,.5) url('../images/Users 48x48.png')no-repeat 10px;
      -moz-border-radius:5px 5px 5px 5px; 
      -webkit-border-radius: 5px 5px 5px 5px;
       border-radius: 5px;
       margin-top:10px; display:block;height:40px;width:300px;
}
.caja2 h2{text-shadow: #000000 1px 1px 1px;color:#ffffff;padding:8px 0px 0px 60px;}

.foto img{
	float:left;-moz-border-radius: 5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px;
	width:27px;height:20px;
}
.boxe2{
	margin-top:10px; display:block;height:40px;width:300px;
}

/*Portfolio/Services*/

.caja3{
	   background: rgba(0,0,0,.5);
      -moz-border-radius:5px 5px 5px 5px; 
      -webkit-border-radius: 5px 5px 5px 5px;
       border-radius: 5px;
       margin-top:5px; display:block;height:20px;width:300px;
}
.caja3 h4{text-shadow: #000000 1px 1px 1px;color:#ffffff;padding:2px 0px 0px 50px;margin:auto;}

.boxe3{
	margin-top:8px; display:block;height:20px;width:300px;
}

/*Contact Us*/

.caja4{
	   background: url('../images/wsdg_new-york-office.jpg')no-repeat;
      -moz-border-radius:5px 5px 5px 5px; 
      -webkit-border-radius: 5px 5px 5px 5px;
       border-radius: 5px;
       margin-top:10px; display:block;height:100px;width:300px;
}
.caja4 h3{
	text-shadow: #000000 1px 1px 1px;color:#ffffff;
	padding:6px 0px 0px 6px;font-family:arial;margin:auto
}
.caja4 p{
	margin:auto; font-size:80%;color:#ffffff;
	text-shadow: #000000 1px 1px 1px;padding:2px 0px 0px 6px;
	}
.boxe3{
	margin-top:10px; display:block;height:40px;width:300px;
}

